* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#header{ 
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    text-align: left;
    font-size: 41px;   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(213, 213, 221);
}

#info{
    display: flex;
    flex-direction: row;
    height: 100%;
}

#photo, #text, #link {
    flex: 1;
    height: 100%;
  }

#photo img {
    width: 100%;      /* растягиваем по ширине блока */
    height: 100%;     /* растягиваем по высоте блока */
    object-fit: cover; /* сохраняем пропорции, обрезаем лишнее */
    display: block;   /* убираем лишние отступы картинки */
    object-position: 40% center;
  }