* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
    width: 100%;
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

#header{ 
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header h1 {
    text-align: left;
    font-size: 41px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #424242;
}

#info{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 20px;
    gap:40px;
}

#photo, #text, #link {
    flex: 1;
    height: 100%;
  }

#photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    object-position: 40% center;
  }

#text, #link{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 36px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}

#text p{
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #424242;
    text-indent: 30px;
    text-align: justify;
    margin: 20px 0px;
}

#link .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    margin-top: 25%;
    width: 100%;
}
  
#link .links a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #424242;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}
  
#link .links a:hover {
    background-color: #424242;
    transform: translateY(-2px);
}

.divider {
    width: 2px;
    background-color: #ccc;
    height: 100%;
}

@media (max-width: 480px){
  .content{
    padding: 10px;
  }

  #header{ 
    flex-direction: column;
    align-items: flex-start;
  }

  #header h1 {
      font-size: 20px;
  }

  #header h2{
      font-size: 16px;
  }

  #info{
    flex-direction: column;
  }

  #link .links {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .divider {
    width: 100%;
    height: 2px;
    flex: none;
  }

}